# For local dev: Copy and rename this file and to ".env" and then fill out
# For prod: Use the hosting managers built in environment system

# For the driver view map
# https://developers.google.com/maps/documentation/javascript/get-api-key
PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_API_KEY
